html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 56px;
}
.ftr {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 56px;
  line-height: 56px; /* Vertically center the text there */
  background-color: #37474F;
}
