#main {
  overflow: hidden !important;
  margin-left: 300px;
  background-color: #ECEFF1;
  position: absolute;
  bottom: 0;
  top:0;
  right: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

#work-area {
  position:absolute;
  bottom: 56px;
  top: 56px;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 991px) {
  #main {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  #work-area {
    bottom: 0 !important;
  }
}
