<div *ngFor="let item of review.comments" class="comment">
  <a class="float-right" style="cursor: pointer;">
    <i class="material-icons" style="font-size: 20px; color: black; font-weight: bold">more_vert</i>
  </a>
  <div class="row" style="margin-left: 0;">
    <div class="interviwer-name">
      <span>{{item.interviewer}}</span>
    </div>
    <div class="date" style="padding-left: 10px;">
      <span>{{item.date | date: 'dd.MM.yyyy'}}</span>
    </div>
  </div>
  <div>
    <p class="candidate-description">{{item.comment}}</div>
</div>
