#candidates-list {
  position: relative;
  height: calc(100% - 54px);
  overflow-y: scroll !important;
}

#candidates-list .list-group-item {
  display: inline;
  cursor: pointer;
}

#candidates-block {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: left;
}

/*If less than 992*/
@media screen and (max-width: 991px) {
  #candidates-block {
    padding-left: 8px !important;
    padding-right: 8px !important;
    height: calc(100% - 8px);
  }
}

/*If more than 992*/
@media screen and (min-width: 992px) {
  #candidates-block {
    padding-right: 16px !important;
    padding-left: 16px !important;
    height: calc(100% - 16px);
  }
}

/*If less than 768*/
@media screen and (max-width: 767px) {
  #candidates-block {
    padding-left: 4px !important;
    padding-right: 4px !important;
    height: calc(100% - 4px);
  }
}

