<div appCandidates
     [style.display]="getDisplayProperty() ? 'inline-block' : 'none'"
     class="col-lg-5 col-md-12" style="overflow-y: hidden;" id="candidates-block">
  <!-- Button filter -->
  <div style="padding-top: 8px; padding-bottom: 8px;" class="d-flex justify-content-end">
    <button type="button" id="filter-button" class="btn btn-secondary" style="cursor: pointer; display: inline;">
      <i class="fa fa-filter"></i>
      Filters
    </button>
  </div>

  <div class="list-group d-flex" id="candidates-list"
       infinite-scroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="getCandidates()">
    <candidate *ngFor="let item of candidates"
               [candidate]="item"
               (click)="selectCandidate(item); setInformationVisible()"></candidate>
  </div>
</div>
