#overlay {
  background-color: rgba(0,0,3,.5);
  position: fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
}
/*
.overlay-open {
  display: inline;
}

.overlay-close {
  display: none;
}*/

/*if more than 992*/
@media screen and (min-width: 992px) {

  #overlay {
    display: none !important;
  }
}
