<div *ngIf="this.sidebarStateService.getSidebarStateOpen() != false"
     [style.width]="this.sidebarStateService.getSidebarStateExpanded() ? '300px' : '56px'"
     id="mySidenav" class="d-flex flex-column sidenav shadow">

  <!-- Logotype, name of program -->

  <a href="#" class="d-inline-block">
    <i class="material-icons">person</i>
    <span *ngIf="this.sidebarStateService.getSidebarStateExpanded()"
          class="menu-text" style="font-size:22px; position: relative; padding-left: 7px; bottom: 3px;" id="candidates-item">Candidates</span>
    <i *ngIf="this.sidebarStateService.getSidebarOverlayMode()"
       (click)="this.sidebarStateService.setSidebarStateOpen(false);"
       class="material-icons" id="md-sidebar-button"
       style="position: relative; padding-left: 100px">chevron_left</i>
  </a>

  <!-- Menu item - People -->

  <div class="d-flex flex-column scroll-area">
    <a href="#" class="d-inline-block"> <!--closeMenuOnLittleScreens-->
      <i class="material-icons">people</i>
      <span *ngIf="this.sidebarStateService.getSidebarStateExpanded()"
            id="people-item" class="menu-text" style="position: relative; bottom: 5px; padding-left: 10px">People</span>
    </a>

    <!-- Menu item - Settings -->

    <a href="#" data-target="#menu1" id="menu"
       class="d-inline-block" data-toggle="collapse" aria-expanded = "false">
      <i class="material-icons" style="cursor: pointer;">settings</i>
      <span *ngIf="this.sidebarStateService.getSidebarStateExpanded()"
            class="menu-text" style="position: relative; text-align: center; padding-left: 10px; bottom: 5px; cursor: pointer;" id="menu-item">Settings</span>
    </a>

    <div  *ngIf="this.sidebarStateService.getSidebarStateExpanded()"
          class="collapse " id="menu1"  aria-expanded="false" style="padding-left: 35px;">
          <a href="#" data-parent="#menu1">Overview</a>
          <a href="#" data-parent="#menu1">Transition</a>
          <a href="#" data-parent="#menu1">Modal</a>
          <a href="#" data-parent="#menu1">Dropdown</a>
          <a href="#" data-parent="#menu1">Scrollpy</a>
          <a href="#" data-parent="#menu1">Tab</a>
          <a href="#" data-parent="#menu1">Tooltip</a>
          <a href="#" data-parent="#menu1">Popover</a>
          <a href="#" data-parent="#menu1">Alert</a>
          <a href="#" data-parent="#menu1">Button</a>
          <a href="#" data-parent="#menu1">Collapse</a>
          <a href="#" data-parent="#menu1">Something 1</a>
          <a href="#" data-parent="#menu1">Something 2</a>
          <a href="#" data-parent="#menu1">Something 3</a>
          <a href="#" data-parent="#menu1">Something 4</a>
          <a href="#" data-parent="#menu1">Something 5</a>
          <a href="#" data-parent="#menu1" style="opacity: 0;">Empty</a>
        </div>
  </div>

  <!-- Button, which hide sidebar -->

  <a hreh="#" id="hide-btn" class="hidden-md-down" (click)="toggleSidebar()">
    <i [class]="this.sidebarStateService.getSidebarStateExpanded() ? 'fa fa-angle-double-left' : 'fa fa-angle-double-right'"
       id="sidebar-toggle-button"
       style="cursor: pointer; color: #212121; padding-left: 5px;" ></i>
    <span *ngIf="this.sidebarStateService.getSidebarStateExpanded()"
          style="font-size: 15px; cursor: pointer; position: absolute; text-align: center;
          padding-left: 10px" id="hide-item">Hide menu
      </span>
  </a>
</div>
