<div *ngIf="candidate != null"
     [style.display]="getDisplayProperty() ? 'inline-block' : 'none'"
     class="col-lg-7 col-md-12 container-fluid"
     id="info-area"
     style="overflow-y: hidden; flex-flow: column">

  <div id="info-top">
    <div style="padding-left: 15px; padding-right: 10px; padding-top: 15px; background-color: #37474F;">
      <div class="d-inline-block" style="width: 100%">
        <div class="list-left" style="padding-right: 8px;">
          <img [src]="candidate.avatar"  style="width: 100px; border-radius: 50%; border: 3px solid white">
        </div>

        <div style="margin-left: 80px;">
          <div *ngIf="candidate.flag != 0" class="float-right" style="padding-top: 2px;">
            <div class="shadow" style="width: 27px; height: 27px; background-color: white; border-radius: 50%">
              <i class="material-icons"
                 [style.color]="informationService.getFlagColor(candidate.flag)"
                 style="font-size: 18px; padding-left: 5px; padding-top: 3px;">flag</i>
            </div>
          </div>

          <div class="row" style="padding-left: 10px;">
            <span class="candidate-name"
                  style="font-size: 20px; padding-right: 10px; color: white; font-weight: bold">
              {{candidate.name}}
            </span>
          </div>

          <div class="row" style="padding-top: 10px; padding-left: 10px;">
            <div *ngFor="let badge of candidate.badges" class="candidate-label">
              <span [class]="informationService.getBadgeClass(badge)" >
                {{badge}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div style="padding-top: 10px">
        <span  style="color: white;">{{candidate.description}}</span>
      </div>
    </div>

    <!-- Tabs -->
    <div style="padding-top: 10px; background-color: #37474F;">
      <a class="float-right" style="cursor: pointer; position: relative; bottom: 1px;">
        <i class="material-icons" style="font-size: 20px; color: white; padding: 5px;">add</i>
      </a>
      <ul class="nav nav-tabs" style="border-color: #37474F;">
        <li class="nav-item">
          <a (click)="selectTab(1)" data-toggle="tab" href="#tab1" role="tab" style="text-decoration: none">
            <p id="tab-text1" [ngClass]="activeTab == 1 ? 'tab underline-tab' : 'tab'">Info</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="selectTab(2)" data-toggle="tab" href="#tab2" role="tab" style="text-decoration: none">
            <p id="tab-text2" [ngClass]="activeTab == 2 ? 'tab underline-tab' : 'tab'">Files</p>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <!-- Tab content -->
  <div class="tab-content">
    <review [review]="getReview()" id="tab1" class="tab-pane active" role="tabpanel"></review>
    <div id="tab2" class="tab-pane" role="tabpanel"></div>
  </div>

</div>

<div *ngIf="!getServerState()"
     class="col-lg-7 col-md-12 float-right hidden-md-down"
     style="padding-top: 54px;">Server is unavailable</div>

<div *ngIf="getServerState()"
     class="col-lg-7 col-md-12 float-right hidden-md-down"
     style="padding-top: 54px;">
  <div *ngIf="candidate == null">Candidate is not selected</div>
</div>


