<nav class="navbar navbar-toggleable-sm navbar-inverse d-flex flex-row align-items-center" style="background-color: #37474F; height: 56px; padding-right: 15px;">


  <!-- Button, which open sidebar on the md and xs screens -->

  <a *ngIf="!this.informationService.getVisible()"
     (click)="this.sidebarStateService.setSidebarStateOpen(true);
              this.sidebarStateService.setSidebarStateExpanded(true);"
    class="navbar-nav navbar-toggler-left align-items-center" id="openSidebarAboveButton" style="cursor: pointer;">
    <i class="material-icons">menu</i>
  </a>

  <a *ngIf="this.informationService.getVisible()"
     (click)="setInformationUnvisible()"
     class="navbar-nav navbar-toggler-left align-items-center" id="close-info-area" style="cursor: pointer">
    <i class="material-icons" style="color: white;">keyboard_backspace</i>
  </a>

  <!-- Navbar header -->

  <div class="navbar-brand" id="navbar-header" href="#">People</div>

  <!-- Elements of "New" button (icon and text)-->

  <a class="d-flex align-items-center">
    <i class="material-icons" id="icon-add" style="color: white; cursor: pointer;">
      add
    </i>
  </a>

  <div class="mr-auto navbar-nav">
    <a class="navbar-link" id="text-add" style="text-decoration: none; color: white; cursor: pointer; padding-right: 20px;" href="#">New</a>
  </div>

  <div class="d-flex flex-row align-items-center">

    <!-- Search form (collapsible)-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <form class="form-inline">
            <input class="form-control" type="text" id="search-item">
          </form>
        </li>
      </ul>
    </div>

    <!-- Button "New" aligned to right navbar side, displayed only on the md and xs -->

    <i class="nav navbar-toggleable-sm material-icons" id="icon-add-right" style="color: white; cursor: pointer;">add
    </i>

    <!-- Button, which open navbar on the md and ms screens -->

    <button class="navbar-nav navbar-toggler" id="nav-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons">more_vert</i>
    </button>

    <!-- Account dropdown element -->

    <div class="nav nav-item dropdown" id="dropdown" style="padding-left: 15px;">
      <a class="nav-link dropdown-toggle d-flex flex-row align-items-center text-white" href="#" data-toggle="dropdown" style="padding-right: 0; padding-left: 0px;">
        <i class="material-icons  align-top">account_circle</i>
        <span class="text-white" id="account-text" style="white-space: nowrap; padding-left: 5px;">Siarhei Berdachuk</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
  </div>

</nav>
