#nav-toggler {
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 8px;
}

#search-item {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: url('../../../../assets/static/img/icons8-Search-24.png') no-repeat 6px 2px;
  padding: 4px 15px 4px 35px;
  background-color: white;
}

#openSidebarAboveButton {
  color: white;
  display: none;
}

/*If less than 992*/
@media screen and (max-width: 991px) {

  #main {
    margin-left: 0 !important;
  }

  /*Giving place in 50 px for sidenav button*/
  #navbar-header {
    margin-left: 40px !important;
  }


  #icon-add-right {
    display: none;
  }

  #openSidebarAboveButton {
    display: flex;
  }

  #hide-btn {
    display: none !important;
  }
}

/*If more than 992*/
@media screen and (min-width: 992px) {

  #close-info-area {
    display: none !important;
  }

  #icon-add-right {
    display: none;
  }

  #openSidebarAboveButton {
    display: none !important;
  }

}

/*If less than 768*/
@media screen and (max-width: 767px) {

  #text-add, #icon-add, #account-text {
    display: none;
  }

  #icon-add-right {
    display: inline;
  }

  #dropdown {
    padding-left: 4px !important;
  }

  .navbar {
    padding-right: 8px !important;
  }
}
