.sidenav, .sidenav-expanded-md, .sidenav-expanded-lg {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FAFAFA;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 0;
}
.sidenav a, .sidenav-expanded-md a, .sidenav-expanded-lg a {
  padding: 16px 0px 8px 15px;
  text-decoration: none;
  color: #212121;
  display: block;
  height: 56px;
}

.sidenav a:hover, .sidenav-expanded-md a:hover, #hide-btn:hover,
.sidenav-expanded-lg a:hover, .offcanvas a:focus {
  background-color: #BDBDBD;
}

#openSidebarAboveButton {
  color: white;
  display: none;
}

.scroll-area {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

#hide-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: #FAFAFA;
}

.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
