#info-area {
  height: calc(100% - 72px);
  position: relative;
  flex-flow: column;
  overflow: hidden;
  display: inline-block;
  padding-right: 16px;
  margin-top: 54px;
  padding-left: 0;
  padding-bottom: 0;
}


#info-area::-webkit-scrollbar {
  display: none;
}

.tab-content {
  position: relative;
  height: 100%;
  padding: 10px;
  background-color: #CFD8DC;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tab {
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  margin-bottom: 0;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

.list-left {
  float: left;
}

.list-body {
  margin-left: 56px;
  position: relative;
  height: 100%;
}

.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.underline-tab {
  border-bottom: 5px solid white;
}

.interviwer-name {
  padding-left: 5px;
}

.candidate-label {
  padding-right: 5px;
}

/*If less than 992*/
@media screen and (max-width: 991px) {
  #info-area {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 0 !important;
  }
}

/*If more than 992*/
@media screen and (min-width: 992px) {
  #info-area {
    padding-bottom: 16px !important;

  }
}

/*If less than 768*/
@media screen and (max-width: 767px) {
  #info-area {

  }
}
