.link-button {
  /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
  cursor: pointer;
  border-radius: 0px;
  position: absolute;
  right: 0px;
  transform: rotate(90deg);
  transform-origin: top right;
  color: white;
  height: 20px;
  opacity: 0.6;
}

.link-button:hover {
  opacity: 1;
}

.link-button-text {
  position: relative;
  bottom: 5px;
}
