<div class="list-group-item list-group-item-action d-inline-block">

  <div class="list-left" style="padding-right: 8px;">
    <img [src]=candidate.avatar style="width: 50px; border-radius: 50%;">
  </div>

  <div class="list-body">
    <div class="float-right" style="padding-top: 2px;">
      <i class="material-icons" *ngIf="candidate.flag != 0" style="font-size: 18px;" [style.color]="informationService.getFlagColor(candidate.flag)">flag</i>
    </div>
    <div class="row">
      <span class="candidate-name" style="padding-right: 10px;">{{candidate.name}}</span>

      <div *ngFor="let badge of candidate.badges" class="candidate-label">
        <span [class]="informationService.getBadgeClass(badge)" >
          {{badge}}
        </span>
      </div>

    </div>

    <div class="text-muted text-truncate small" style="text-align: left">
      {{candidate.description}}
    </div>

  </div>

</div>
