.sidenav, .sidenav-expanded-md, .sidenav-expanded-lg {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    overflow-y: hidden;
    /*transition: 0.5s;*/
    padding-top: 0;
}
.sidenav a, .sidenav-expanded-md a, .sidenav-expanded-lg a {
    padding: 16px 0px 8px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #212121;
    display: block;
    /*transition: 0.5s;*/
    height: 56px;
}

.sidenav a:hover, .sidenav-expanded-md a:hover, #hide-btn:hover,
.sidenav-expanded-lg a:hover, .offcanvas a:focus {
    background-color: #BDBDBD; 
}

#nav-toggler {
  outline: none;
  border: none;
  cursor: pointer; 
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 8px;
}

#overlay {
  background-color: rgba(0,0,3,.5);
  position: fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
}

#openSidebarAboveButton {
  color: white;
  display: none;
}

.scroll-area {
  overflow-y: scroll;
  scroll-behavior: smooth;

}

#info-area::-webkit-scrollbar {
  display: none;
}

#info-area {
  height: calc(100% - 56px);
}

.tab {
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  margin-bottom: 0;
}

.tab-content {
  height: 100%;
  padding: 10px; 
  background-color: #CFD8DC;
  overflow-x: hidden; 
  overflow-y: scroll;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

#hide-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-color: #FAFAFA;
}

#main {
  margin-left: 300px;
  /*transition: 0.5s;*/
  background-color: #ECEFF1; 
  position: absolute;
  bottom: 0;
  top:0;
  right: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 56px;
}

.work-area::-webkit-scrollbar {
  display: none;
}

.work-area {
  height: 100%; 
  padding-bottom: calc(56px + 16px); 
  overflow-x: hidden !important; 
  overflow-y: hidden !important;
}

#candidates-list {
  position: relative;
  bottom: 0;
  height: calc(100% - 54px); 
  overflow-x: hidden !important; 
  overflow-y: scroll !important;
}

#candidates-list .list-group-item {
  display: inline;
  cursor: pointer;
}

#candidates-list .list-group-item:clicked {
  background-color: red;  
}


#search-item {
  border-bottom-left-radius: 20px; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px;
  background: url('./../img/icons8-Search-24.png') no-repeat 6px 2px;
  padding: 4px 15px 4px 35px;
  background-color: white;
}

.candidate-label {
  padding-right: 10px;
}

.list-left {
    float: left;
}

.list-body {
  margin-left: 56px;
  position: relative;
  height: 100%;   
}

.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.underline-tab {
  border-bottom: 5px solid white;
}

.candidate-description {
  border-radius: 3px;
  background-color: white;
  padding: 5px;
}

.interviwer-name {
  padding-left: 5px;
}

.link-button {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  cursor: pointer; 
  border-radius: 0px; 
  position: absolute; 
  right: 0px;  
  transform: rotate(90deg);
  transform-origin: top right;  
  color: white;
}

/*If less than 992*/
@media screen and (max-width: 991px) {

    #info-area {
      height: 100% !important;
      overflow-y: scroll !important;
      display: none;
    }

    .work-area {
      padding-bottom: calc(56px + 8px) !important;
    }

    #candidates-block {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }

    .sidenav {
      width: 0 !important;
    }
    
    #main {
        margin-left: 0 !important;
    }

    /*Giving place in 50 px for sidenav button*/
    #navbar-header {
      margin-left: 40px !important;
    }


    #icon-add-right {
      display: none;
    }

    #openSidebarAboveButton {
      display: flex;
    }

    #hide-btn {
      display: none !important;
    }
}

/*if more than 992*/
@media screen and (min-width: 992px) {

    #close-info-area {
      display: none !important;
    }

    #info-area {
      display: flex !important;
      margin-top: 56px !important; 
      padding-right: 16px !important; 
      padding-left: 0 !important;

    }

    #candidates-block {
      display: inline !important ;
      padding-right: 16px !important;
      padding-left: 16px !important;
    }
  
    .sidenav-expanded-lg {
      width: 300px !important;
    }
  
    #icon-add-right {
      display: none;
    }

    #md-sidebar-button {
          display: none;
    }

    #openSidebarAboveButton {
      display: none !important;
    }


    #overlay {
      display: none !important;
    }
}

/*If less than 768*/
@media screen and (max-width: 767px) {

    #info-area {
      height: 100% !important;
      overflow-y: scroll !important;
    }

    #text-add, #icon-add, #account-text {
      display: none;
    }

    #icon-add-right {
      display: inline;
    }

    .work-area {
      padding-bottom: 4px !important;
    }

    #candidates-block {
      padding-left: 4px !important;
      padding-right: 4px !important;
    }

    #dropdown {
      padding-left: 4px !important;
    }

    .navbar {
      padding-right: 8px !important;
    }
}