<div id="main" class="container-fluid" (window:resize)="onResize($event)"
     [style.margin-left] = "this.sidebarStateService.getSidebarStateExpanded() ? '300px' : '56px'">
  <navbar></navbar>

  <div id="work-area">
    <candidates></candidates>
    <information [candidate]="getInformation()"></information>
  </div>
  <links></links>
  <footer></footer>
  <overlay></overlay>
</div>

